.container {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*border: 1px solid #636b6f;*/
}

.columnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item {
    /*border: 1px solid #636b6f;*/
    /*flex-grow: 1;*/
    /*width: 33%;*/
    flex: 1 1 30%; /*grow | shrink | basis */
    /*height: 100px;*/
    max-width: 30%;
}

.element {
    border: 1px solid #636b6f;
    margin: 10px;
    padding: 10px;
}

